<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="text/javascript" src="../js/app2.js"></script>
    <title>Página contenidos</title>
</head>

<body>

    <!-- Form ejercicio -->
    <div class="formulario">
        <form action="#" id="form" onsubmit="return false;">
            <label for="name">Nombre: </label>
            <input type="text" name="name" id="nombre"><span id="error"></span><br>
            <label for="lastname">Apellido:</label>
            <input type="text" name="lastname" id="apellido"><span id="error"></span><br>
            <label for="age">Edad:</label>
            <input type="number" name="age" id="edad"><span id="error"></span><br>
            <input type="submit" value="Enviar" id="submit">
        </form>
    </div>

    <div class="datos">
        <p id="p_nombre">
            Nombre: <span></span>
        </p>
        <p id="p_apellido">
            Apellido: <span></span>
        </p>
        <p id="p_edad">
            Edad: <span></span>
        </p>
    </div>

</body>

</html>