<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pagina contactos</title>
</head>
<body>
    <!--Encabezado-->
    <h1>Mi primera web</h1>
    <!--Menú-->
    <ul>
        <li><a href="index2.html">INICIO</a></li>
        <li><a href="contenidos.html">CONTENIDOS</a></li>
        <li><a href="contactos.html">CONTACTO</a></li>
    </ul>
    <hr/>

    <h2>Contacto</h2>
    <form action="">
        <p>
            <label for="nombre"><strong>Nombre:</strong></label><br/>
            <input type="text" name="nombre" id="name" placeholder="Ingresa tu nombre">
        </p>
        <p>
            <label for="biografia"><strong>Biografía</strong></label><br/>
            <textarea name="biografia" id="biography" cols="30" rows="10"></textarea>
        </p>
        <p>
            <label for="edad"><strong>Edad</strong></label><br/>
            <select name="edad" id="age">
                <option value="niño">Niño</option>
                <option value="adulto">Adulto</option>
                <option value="anciano">Anciano</option>
            </select>
        </p>
        <input type="submit" value="Enviar email">
    </form>
</body>
</html>