<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>PAGINA JSON.JS</title>
    </head>
    <body>
        <h2>AÑADE TU PELICULA</h2>
        <form action="#" id="formpeliculas">
            <label for="movie">PELICULA:</label><br>
            <input type="text" name="movie" id="nombrePelicula" placeholder="Añade una película">
            <input type="submit" value="Añadir">
        </form>
        <div id="movies">
            <h1>LAS PELICULAS</h1>
        </div>  
        <script type="text/javascript" src="../js/json.js"></script>
    </body>
</html>