<h2>Contacto</h2>

<!-- Formulario de Angular -->
<form #formContacto="ngForm" (ngSubmit)="onSubmit(formContacto)">
  <label for="nombre">Nombre</label><br>
  <input type="text" name="nombre" #nombre="ngModel" [(ngModel)]="usuario.nombre" required pattern="[a-zA-Z]+"><br>
    <span *ngIf="nombre.touched && !nombre.valid">
        El nombre es obligatorio
    </span>

  <label for="apellido">Apellido</label><br>
  <input type="text" name="apellido" #apellido="ngModel" [(ngModel)]="usuario.apellido" required pattern="[a-zA-Z]+"><br>
    <span *ngIf="apellido.touched && !apellido.valid">
        El apellido es obligatorio
    </span>

  <label for="email">Email</label><br>
  <input type="email" name="email" #email="ngModel" [(ngModel)]="usuario.email" required><br>
    <span *ngIf="email.touched && !email.valid">
        El email es obligatorio
    </span>

  <label for="mensaje">Mensaje</label><br>
  <textarea name="mensaje" #mensaje="ngModel" [(ngModel)]="usuario.mensaje" required></textarea><br>
    <span *ngIf="mensaje.touched && !mensaje.valid">
        El mensaje es obligatorio
    </span>
  <input type="submit" value="Enviar" [disabled]="!formContacto.form.valid">
</form>