body{
    background: url('../img/rojo.jpg');
    background-attachment: fixed;
}

#logo{
    background: #CA3413;
}

#menu ul li:hover{
    background:  #CA3413;
}

.button-more{
    background:  #CA3413;
}

form input[type="text"],
form input[type="password"],
form input[type="email"]{
    box-shadow: 0px 0px 2px#CA3413;
}

form input[type="submit"]{
    border: 1px solid #CA3413;  
}